@keyframes AnimationSvg {
    to{
        transform: translate(-50% ,-10%);
    }
}

@keyframes upanddown {
    to{
        transform: translateY(-5px);
    }
}
@keyframes upupdowndown {
    to{
        transform: translateY(-10px);
    }
}